@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The purpose of creating Pehelper was to support mass item upload to WPLM.</p>
<p>Upload the .xls or .xls file. All the WISE esport files must be saved first.</p>
<p>Then the file can be uploaded. Otherwise it won't work.</p>