@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>My email and Github repository.</p>


<address>
    <strong>Support:</strong> <a href="mailto:dariusz.luczynski@woodward.com">dariusz.luczynski@woodward.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/LuczynskiDar">https://github.com/LuczynskiDar</a>
</address>
